@font-face {
	font-family: "Arcade";
	src: url('../../assets/fonts/arcadeclassic.ttf');
}

$color-text-dark:#000;
$color-text-light:#fff;
$border-link:#696969;
$shadow: #0000002e;
$color-bg: #bebebe30;